.example-spacer {
    flex: 1 1 auto;
}


/* .example-card {
    margin-left: 5%;
    max-width: 40%;
} */

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}


/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.article {
    width: 100%;
}  */
